In [87]:
import pandas as pd

In [88]:
df = pd.read_csv("para cotejar_ Temas Geogebra 2023 - Sheet2.csv")

In [89]:
df.head()

,NOMBRE,TITULO,TEMA,SUBTEMA,CONTENIDO,SUBCONTENIDO,DURACION,PESO,ESTADO REGISTRO
0,Alan Jaret Meza Berrelleza,Perimetro de figuras geometricas,GEOMETRÍA,Figuras planas,Perimetro,Figuras geometricas,12:47,"32,7 MB",*
1,NaN,Perimetro Del Circulo,GEOMETRÍA,Figuras planas,Perimetro,Circulo,13:20,"28,5 MB",*
2,NaN,Area de figuras planas,GEOMETRÍA,Figuras planas,Area,Figuras planas,21:47,"50,2 MB",*
3,NaN,Area bajo la curva. Introduccion (1de3),CÁLCULO,Integral,Integrales,Area bajo la curva,15:31,"45,9 MB",*
4,NaN,Area bajo la curva Ejemplo 1 (2de3),CÁLCULO,Integral,Integrales,Area bajo la curva,15:15,"38,2 MB",*

In [90]:
df['NOMBRE'] = df['NOMBRE'].fillna(method='ffill')

In [91]:
df.head()

,NOMBRE,TITULO,TEMA,SUBTEMA,CONTENIDO,SUBCONTENIDO,DURACION,PESO,ESTADO REGISTRO
0,Alan Jaret Meza Berrelleza,Perimetro de figuras geometricas,GEOMETRÍA,Figuras planas,Perimetro,Figuras geometricas,12:47,"32,7 MB",*
1,Alan Jaret Meza Berrelleza,Perimetro Del Circulo,GEOMETRÍA,Figuras planas,Perimetro,Circulo,13:20,"28,5 MB",*
2,Alan Jaret Meza Berrelleza,Area de figuras planas,GEOMETRÍA,Figuras planas,Area,Figuras planas,21:47,"50,2 MB",*
3,Alan Jaret Meza Berrelleza,Area bajo la curva. Introduccion (1de3),CÁLCULO,Integral,Integrales,Area bajo la curva,15:31,"45,9 MB",*
4,Alan Jaret Meza Berrelleza,Area bajo la curva Ejemplo 1 (2de3),CÁLCULO,Integral,Integrales,Area bajo la curva,15:15,"38,2 MB",*

In [92]:
df['TITULO'] = df['TITULO'].str.replace('.mp4', '')

In [93]:
df[ df['NOMBRE'] == 'Yesenia Merecias Sanchez' ].head(3)

,NOMBRE,TITULO,TEMA,SUBTEMA,CONTENIDO,SUBCONTENIDO,DURACION,PESO,ESTADO REGISTRO
92,Yesenia Merecias Sanchez,1-Razones trigonometrica_V2,GEOMETRÍA,Proporciones,Funciones trigonometricas,Razones Trigonometricas,15:43,152 MB,NaN
93,Yesenia Merecias Sanchez,1-Razones trigonometrica,GEOMETRÍA,Proporciones,Funciones trigonometricas,Razones Trigonometricas,15:43,"149,8 MB",NaN
94,Yesenia Merecias Sanchez,1-TIPO DE ÁNGULOS_V2,GEOMETRÍA,Angulos,Tipos de angulos,Tipos de angulos,13:54,"135,7 MB",NaN

In [94]:
df['TITULO'] = df['TITULO'].str.replace('-', ' ')

In [95]:
df[ df['NOMBRE'] == 'Yesenia Merecias Sanchez' ].head(3)

,NOMBRE,TITULO,TEMA,SUBTEMA,CONTENIDO,SUBCONTENIDO,DURACION,PESO,ESTADO REGISTRO
92,Yesenia Merecias Sanchez,1 Razones trigonometrica_V2,GEOMETRÍA,Proporciones,Funciones trigonometricas,Razones Trigonometricas,15:43,152 MB,NaN
93,Yesenia Merecias Sanchez,1 Razones trigonometrica,GEOMETRÍA,Proporciones,Funciones trigonometricas,Razones Trigonometricas,15:43,"149,8 MB",NaN
94,Yesenia Merecias Sanchez,1 TIPO DE ÁNGULOS_V2,GEOMETRÍA,Angulos,Tipos de angulos,Tipos de angulos,13:54,"135,7 MB",NaN

<h2>leemos los ya subidos a yt</h2>

ponemos comas en lugar de salto de linea

In [96]:
'''
# Lee el contenido del archivo
with open('videos_listos_yt.txt', 'r') as file:
    contenido = file.read()

# Reemplaza los saltos de línea con coma + salto de línea
contenido_modificado = contenido.replace('\n', ',\n')

# Escribe el contenido modificado de vuelta al archivo
with open('tu_archivo_modificado.txt', 'w') as file:
    file.write(contenido_modificado)
'''
    
    
    # Lee el contenido del archivo
with open('videos_listos_yt.txt', 'r', encoding='utf-8') as file:
    contenido = file.read()

# Reemplaza los saltos de línea con coma + salto de línea
contenido_modificado = contenido.replace('\n', ',\n')

# Escribe el contenido modificado de vuelta al archivo
with open('tu_archivo_modificado.txt', 'w') as file:
    file.write(contenido_modificado)